Question 1 : Show employees working in either the ‘IT’ or ‘HR’ departments.

Ans select EmpName
from emp_loyees
where Department = 'IT' OR 'HR'

Question 2 : Retrieve employees whose department is in ‘Sales’, ‘IT’, or ‘Finance’.

Ans. Select EmpName
from emp_loyees
where Department in ('Sales', 'IT','Finance')

Question 3 : Display employees whose salary is between ₹50,000 and ₹70,000

Ans. select*
from emp_loyees
where salary between 50000 and 70000

Question 4 : List employees whose names start with the letter ‘A’.

Ans. SELECT *
FROM emp_loyees
WHERE EmpName LIKE 'A%'

Question 5 : Find employees whose names contain the substring ‘an’.

Ans. SELECT *
FROM emp_loyees
WHERE EmpName LIKE '%an%'

Question 6 : Show employees who are from ‘Delhi’ or ‘Mumbai’ and earn more than ₹55,000.

Ans. SELECT *
FROM emp_loyees
WHERE City = 'Delhi' or 'Mumbai' and Salary > 55000

Question 7 : Display all employees except those from the ‘HR’ department.

Ans. SELECT *
FROM emp_loyees
WHERE Department not in ('HR')

Question 8 : Get all employees hired between 2019 and 2022, ordered by HireDate (oldest first).

Ans. SELECT *
FROM employees
WHERE HireDate BETWEEN '2019-01-01' AND '2022-12-31'
ORDER BY HireDate ASC